@import '@scss/hairline.scss';

.root{

  // position: relative;
   display: flex;
   align-items: center;
   height: 46px;
   width: 100vw;
   padding:0 12px 0 12px;
   background-color: #fff;
  
  //  border-bottom: 1px solid #ccc;
  @include hairlinebottom();
   font-size: 16px;
    :global{
     
      .title{
        flex: 1;

        display: flex;
        justify-content: center;
        color: #323232;
        
      }
      .right{
        width: 48px;
      
      }
    
    }
  
  
  
  
  
    
  }